<div class="layout-wrapper layout-blue layout-menu-horizontal" ng-reflect-klass="layout-blue" ng-reflect-ng-class="[object Object]">
    <app-navbardocente></app-navbardocente>
    <p-toast></p-toast>
    <div class="ui-g">
        <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <div class="ui-g-12">
            <div class="card no-margin">
                <div class="p-grid">
                    <div class="ui-g">
                        <select [(ngModel)]="selectedNivel.COD_NIVEL_EDUCATIVO" (change)="onNivel($event.target.value)">
                        <option *ngFor="let nivel of Nivel" value={{nivel.COD_NIVEL_EDUCATIVO}}>
                            {{nivel.NOMBRE}}
                        </option>
                    </select>

                        <select [(ngModel)]="selectedParalelo" (change)="onSelect($event.target.value)">
                        <option *ngFor="let paralelo of Paralelo" value={{paralelo.COD_PARALELO}}>
                            {{paralelo.NOMBRE}}
                        </option>
                    </select>
                        <select [(ngModel)]="selectedAsignatura" (change)="listEstudiante($event.target.value)">
                        <option *ngFor="let materia of Materia" value={{materia.COD_ASIGNATURA}}>
                            {{materia.NOMBRE}}
                        </option>
                    </select>
                    </div>
                    <div>
                        <p-menubar [model]="items"></p-menubar>
                    </div>
                </div>
            </div>
            <p-table [columns]="cols" [value]="verNotas" selectionMode="single" [(selection)]="selected"
                    dataKey="COD_ALUMNO" styleClass="ui-table-borderless" [paginator]="true" [rows]="10"
                    [responsive]="true">
                    <ng-template pTemplate="caption">
                        Calificaciones
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-verNotas let-columns="columns" >
                        <tr [pSelectableRow]="verNotas">
                            <td>{{verNotas.APELLIDO}}</td>
                            <td>{{verNotas.NOMBRE}}</td>
                            <td><input type="number" value="{{verNotas.NOTA1}}"> </td>
                            <td><input type="number" value="{{verNotas.NOTA2}}"> </td>
                            <td><input type="number" value="{{verNotas.NOTA3}}"> </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-dialog header="Editar Notas" [(visible)]="displayUpdateDialog" [modal]="true"
                [style]="{width: '600px'}">

                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui.g-4">
                            <label for="codAula">Apellido</label>
                        </div>
                        <div class="ui.g-8">
                            <input type="text" pInputText id="codAula" [disabled]="true" 
                                required autofocus />
                        </div>
                    </div>
                    
                </div>
                <p-footer>
                    <div class="p-grid form-group">
                        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                            (click)="hideDialog()"></button>
                        <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
                            (click)="actualizarAula()"></button>
                    </div>
                </p-footer>
            </p-dialog>

           
        </div>
    </div>