<div class="layout-wrapper layout-blue layout-menu-horizontal" ng-reflect-klass="layout-blue"
    ng-reflect-ng-class="[object Object]">


    <app-navbaradmin></app-navbaradmin>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="card">
                <p-toast></p-toast>
                <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <h1 style="margin-top: 3em">Gestión Aulas</h1>
                <div>
                    <p-menubar [model]="items"></p-menubar>
                </div>
                <p-table [columns]="cols" [value]="aulas" selectionMode="single" [(selection)]="selectedAula"
                    dataKey="COD_AULA" styleClass="ui-table-borderless" [paginator]="true" [rows]="10"
                    [responsive]="true">
                    <ng-template pTemplate="caption">
                        Tabla de Aula
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-aulas let-columns="columns">
                        <tr [pSelectableRow]="aulas">
                            <td *ngFor="let col of columns">
                                <span class="ui-column-title">{{col.header}}</span>
                                {{aulas[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-dialog header="Nueva Aula" [(visible)]="displaySaveDialog" [modal]="true" [style]="{width: '600px'}">

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="codAula">Codigo de Aula</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="text" pInputText id="codAula" [(ngModel)]="aula.COD_AULA" required
                                    autofocus />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="codEdi">Escoja el Edificio</label>
                            </div>
                            <div class="ui.g-8">
                                <div class="form-group">
                                    <select class="browser-default custom-select" id="codEdi"
                                        [(ngModel)]="aula.COD_EDIFICIO">
                                        <option *ngFor="let item of edificios" [value]="item.COD_EDIFICIO">
                                            {{item.NOMBRE}}</option>
                                    </select>
                                </div>
                                <!-- <input type="text" pInputText id="codEdi" [(ngModel)]="aula.COD_EDIFICIO" required
                                autofocus /> -->
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="text" pInputText id="nombre" [(ngModel)]="aula.NOMBRE" required
                                    autofocus />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="capac">Capacidad</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="number" pInputText id="capac" [(ngModel)]="aula.CAPACIDAD" required
                                    autofocus />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="tipAula">Tipo Aula</label>
                            </div>
                            <div class="ui.g-8">
                                <div class="form-group ">
                                    <select class="browser-default custom-select" id="tipAula" [(ngModel)]="aula.TIPO">
                                        <option value="GEN"> General </option>
                                        <option value="LAB"> Laboratorio </option>
                                        <option value="AUD"> Audiovisuales </option>
                                    </select>
                                </div>
                                <!-- <input type="text" pInputText id="tipAula" [(ngModel)]="aula.TIPO" required autofocus /> -->
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="piso">N° Piso</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="number" pInputText id="piso" [(ngModel)]="aula.PISO" required autofocus />
                            </div>
                        </div>

                    </div>
                    <p-footer>
                        <div class="p-grid form-group">
                            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                                (click)="hideDialog()"></button>
                            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                                (click)="guardarAula()"></button>
                        </div>
                    </p-footer>
                </p-dialog>

                <p-dialog header="Editar Aula" [(visible)]="displayUpdateDialog" [modal]="true"
                    [style]="{width: '600px'}">

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="codAula">Codigo de Aula</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="text" pInputText id="codAula" [disabled]="true" [(ngModel)]="aula.COD_AULA"
                                    required autofocus />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="codEdi">Escoja el Edificio</label>
                            </div>
                            <div class="ui.g-8">
                                <div class="form-group">
                                    <select class="browser-default custom-select" id="codEdi"
                                        [(ngModel)]="aula.COD_EDIFICIO">
                                        <option *ngFor="let item of edificios" [value]="item.COD_EDIFICIO">
                                            {{item.NOMBRE}}</option>
                                    </select>
                                </div>
                                <!-- <input type="text" pInputText id="codEdi" [(ngModel)]="aula.COD_EDIFICIO" required
                                autofocus /> -->
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="text" pInputText id="nombre" [(ngModel)]="aula.NOMBRE" required
                                    autofocus />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="capac">Capacidad</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="number" pInputText id="capac" [(ngModel)]="aula.CAPACIDAD" required
                                    autofocus />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="tipAula">Tipo Aula</label>
                            </div>
                            <div class="ui.g-8">
                                <div class="form-group ">
                                    <select class="browser-default custom-select" id="tipAula" [(ngModel)]="aula.TIPO">
                                        <option value="GEN"> General </option>
                                        <option value="LAB"> Laboratorio </option>
                                        <option value="AUD"> Audiovisuales </option>
                                    </select>
                                </div>
                                <!-- <input type="text" pInputText id="tipAula" [(ngModel)]="aula.TIPO" required autofocus /> -->
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui.g-4">
                                <label for="piso">N° Piso</label>
                            </div>
                            <div class="ui.g-8">
                                <input type="number" pInputText id="piso" [(ngModel)]="aula.PISO" required autofocus />
                            </div>
                        </div>

                    </div>
                    <p-footer>
                        <div class="p-grid form-group">
                            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                                (click)="hideDialog()"></button>
                            <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
                                (click)="actualizarAula()"></button>
                        </div>
                    </p-footer>
                </p-dialog>
            </div>
        </div>
    </div>

</div>