<p>tarea works!</p>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1>{{user.APELLIDO}}</h1>
            <h1>{{user.NOMBRE}}</h1>
            <h1>{{user.CEDULA}}</h1>
            <h1>{{user.COD_ROL}}</h1>
            <h1>{{user.CORREO}}</h1>
            <h1>{{user.NOMBRE_USUARIO}}</h1>
            <h1>{{user.TELEFONO}}</h1>
            <h1 style="margin-top: 3em">Tareas</h1>
            <div>
                <p-menubar [model]="items"></p-menubar>
            </div>
        </div>
    </div>
</div>