<div class="layout-wrapper layout-blue layout-menu-horizontal" ng-reflect-klass="layout-blue"
    ng-reflect-ng-class="[object Object]">
    <app-navbardocente></app-navbardocente>
<div class="ui-g">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div class="ui-g-12">
        <div class="card no-margin">
            <div>
                <p-menubar [model]="items"></p-menubar>
            </div> <br> <br>
            <div class="p-grid">
                <div class="p-col-12 p-md-1">
                    <label for="Materia">Nivel Educativo</label>
                </div>
                <div class="p-col-12 p-md-4">
                    <select #materia name="materia" (change)="onchange($event)">
                        <option hidden selected>Seleccione un Nivel</option>
                        <option *ngFor="let resp of materias" [value]="resp.COD_NIVEL_EDUCATIVO">
                            {{ resp.NOMBRE }}</option>
                    </select>
                </div>

                <p-table [columns]="cols" [value]="tarea" selectionMode="single" [(selection)]="selectedSede"
                    dataKey="COD_TAREA_ASIGNATURA" styleClass="ui-table-borderless" [paginator]="true" [rows]="10"
                    [responsive]="true">
                    <ng-template pTemplate="caption">
                        Listado de Tareas
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tarea let-columns="columns">
                        <tr [pSelectableRow]="tarea">
                            <td *ngFor="let col of columns">
                                <span class="ui-column-title">{{col.header}}</span>
                                {{tarea[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>

<p-dialog header="Nueva Tarea" [(visible)]="displaySaveDialog" [modal]="true" [style]="{width: '600px'}">
    <div class="ui-g ui-fluid">

        <!-- <div class="ui-g-12">
            <div class="ui.g-4">
                <label for="codTarea">Codigo de Tarea</label>
            </div>
            <div class="ui.g-8">
                <input type="text" pInputText id="codTarea" [(ngModel)]="nuevaTarea.COD_TAREA_ASIGNATURA" required
                    autofocus />
            </div>
        </div> -->
        <div class="ui-g-12">
            <div class="ui.g-4">
                <label for="nombre">Nivel Educativo</label>
            </div>
            <div class="ui.g-8">
                <select #nivel name="nivel" (change)="onLoad($event)" [(ngModel)]="nuevaTarea.COD_NIVEL_EDUCATIVO">
                    <option hidden selected>Seleccione un Nivel</option>
                    <option *ngFor="let resp of nivelDocente " [value]="resp.COD_NIVEL_EDUCATIVO">
                        {{ resp.NOMBRE }}</option>
                </select>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui.g-4">
                <label for="nombre">Materias</label>
            </div>
            <div class="ui.g-8">
                <select #materiaDocente name="materiaDocente" [(ngModel)]="nuevaTarea.COD_ASIGNATURA">
                    <option hidden selected>Seleccione la Asignatura</option>
                    <option *ngFor="let mate of materiasDocente " [value]="mate.COD_ASIGNATURA">
                        {{ mate.NOMBRE }}</option>
                </select>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui.g-4">
                <label for="detalle">Detalle de la Tarea</label>
            </div>
            <div class="ui.g-8">
                <textarea pInputTextarea pInputText id="detalle" [(ngModel)]="nuevaTarea.DETALLE_TAREA" required
                    autofocus [style]="{height: '800px'}"></textarea>
            </div>
        </div>

    </div>
    <p-footer>
        <div class="p-grid form-group">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"
                (click)="insertarNuevaTarea()"></button>
        </div>
    </p-footer>
</p-dialog>