<p>sede works!</p>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1 style="margin-top: 3em">Sedes</h1>
            <div>
                <p-menubar [model]="items"></p-menubar>
            </div>
            <p-table [columns]="cols"  [value]="sede" selectionMode="single" styleClass="ui-table-borderless"
                     [paginator]="true" [rows]="10" [responsive]="true">
                <ng-template pTemplate="caption">
                    Tabla de Sedes
                </ng-template>
                
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            <span class="ui-column-title">{{col.header}}</span>
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-dialog header="Nueva Sede" [(visible)]="displaySaveDialog" [modal]="true" [style]="{width: '600px'}">
                Content
                <!-- <div class="p-field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name"   required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small>
                </div> -->
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui.g-4">
                            <label for="codSede">Codigo de Sede</label>
                        </div>
                        <div class="ui.g-8">
                            <input type="text" pInputText id="codSede"  [(ngModel)]="sede.COD_SEDE"  required autofocus />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui.g-4">
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="ui.g-8">
                            <input type="text" pInputText id="nombre"  [(ngModel)]="sede.NOMBRE"  required autofocus />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui.g-4">
                            <label for="dir">Dirección</label>
                        </div>
                        <div class="ui.g-8">
                            <input type="text" pInputText id="dir"  [(ngModel)]="sede.DIRECCION"  required autofocus />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui.g-4">
                            <label for="tel">Telefono</label>
                        </div>
                        <div class="ui.g-8">
                            <input type="text" pInputText id="tel"  [(ngModel)]="sede.TELEFONO"  required autofocus />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui.g-4">
                            <label for="codPostal">Código Postal</label>
                        </div>
                        <div class="ui.g-8">
                            <input type="text" pInputText id="codPostal"  [(ngModel)]="sede.CODIGO_POSTAL"  required autofocus />
                        </div>
                    </div>

                </div>
                <p-footer>
                    <div class="p-grid form-group">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="guardarSede()"></button>
                    </div>
                </p-footer>
            </p-dialog>

        </div>
    </div>
</div>