<!--<app-actionbar></app-actionbar>

<div class="layout-content">
    <router-outlet></router-outlet>
</div> !-->

<div class="layout-topbar">
    <div class="layout-topbar-logo">
        <a>
            <img class="logo" src="assets/layout/images/logo.png" alt="prestige-layout" />
        </a>
    </div>
    <a class="layout-menu-button" href="#">
        <i class="pi pi-bars"></i>
    </a>

    <ul class="layout-topbar-menu" role="menu">
        <li #settings class="layout-topbar-item">
            <a class="layout-topbar-icon first">
                <i (click)="logout()" class="topbar-icon pi pi-sign-out"></i>
            </a>
            <div class="layout-quickmenu-tooltip">
                <div class="layout-quickmenu-tooltip-arrow"></div>
                <div class="layout-quickmenu-tooltip-text">Cerrar Sesión</div>
            </div>
        </li>
        <li #profile class="user-profile" role="menuitem">
            <a>
                <div class="user-profile-info profile-link">
                    <span class="user-profile-name">{{user.APELLIDO}}</span>
                    <span class="user-profile-role">{{user.NOMBRE}}</span>
                </div>
                <img class="logo" src="assets/layout/images/avatar/user.jpg" alt="prestige-layout" />
            </a>
        </li>
    </ul>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <!-- <router-outlet></router-outlet> -->
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/docente']" routerLinkActive="router-link-active">Inicio
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/docente/addnota']" routerLinkActive="router-link-active">Regitrar Notas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/doc/tarea']" routerLinkActive="router-link-active">Tareas</a>
                </li>
            </ul>

        </div>
    </nav>
</div>